@media only screen and (min-width: 0px) and (max-width: 870px) {
  main {
    zoom: 40%;
  }
}
@media only screen and (min-width: 1500px) {
  main {
    zoom: 120%;;
  }
}
@font-face {
  font-family: PokeFontS;
  src: url("/pokemonfont/PokemonSolid.ttf");
}
html {
  background: url(https://browsecat.net/sites/default/files/pokemon-grass-background-128740-205985-9449412.png)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: content;
  align-items: center;
}

#main-title {
  text-align: center;
  font-family: PokeFontS, sans-serif;
  color: #fccf00;
  font-size: 5vw;
  -webkit-text-stroke: 0.2vw;
  -webkit-text-stroke-color: #2468b1;
  letter-spacing: 5px;
  margin: 30 auto;
  z-index: 15;
}

main {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 10;
  margin: 5%;
}

#pokedex {
  position: absolute;
  z-index: 1;
  zoom: 50%;
}
#pokedexGlass {
  position: absolute;
  z-index: 20;
  zoom: 50%;
  opacity: 20%;
}
#name {
  position: absolute;
  z-index: 10;
  top: 300px;
  left: -348px;
  font-family: "vt323";
  text-transform: capitalize;
  font-size: 20px;
  text-align: center;
  color: silver;
  opacity: 95%;
}
#sprite {
  position: absolute;
  z-index: 10;
  top: 260px;
  left: -222px;
  zoom: 130%;
  opacity: 95%;
}
#idNum {
  position: absolute;
  z-index: 10;
  top: 436px;
  left: -350px;
  font-family: "vt323";
  font-size: 18px;
  color: silver;
  opacity: 95%;
}
#description {
  position: absolute;
  z-index: 10;
  top: 272px;
  left: 68px;
  font-family: "vt323";
  font-size: 19px;
  color: silver;
  inline-size: 300px;
  opacity: 95%;
}
#submit {
  position: absolute;
  z-index: 30;
  top: 799px;
  left: -395px;
  cursor: pointer;
  background: none;
  border-color: #fccf00;
  border-radius: 100%;
  padding: 22px;
}
#elemType {
  text-transform: uppercase;
  letter-spacing: .5px;
  position: absolute;
  z-index: 10;
  top: 522px;
  left: 90px;
  font-family: "vt323";
  font-size: 20px;
  text-align: center;
  border-style: null;
  border-width: 3px;
  border-radius: 5%;
  width: 75px;
  -webkit-text-stroke: .2px;
  -webkit-text-stroke-color: gray;
  color: white;
}
#elemType2{
  text-transform: uppercase;
  letter-spacing: .5px;
  position: absolute;
  z-index: 10;
  top: 522px;
  left: 227px;
  font-family: "vt323";
  font-size: 20px;
  text-align: center;
  border-style: null;
  border-width: 3px;
  border-radius: 5%;
  width: 75px;
  -webkit-text-stroke: .2px;
  -webkit-text-stroke-color: gray;
  color: white;
}
#text-box {
  position: absolute;
  background: none !important;
  border: none !important;
  outline: none !important;
  z-index: 30;
  top: 900px;
  left: -350px;
  font-size: 30px;
  color: lightgreen;
  text-align: center;
  width: 176px;
  font-family: "vt323";
}
::placeholder {
  color: lightgreen;
}
#height {
  position: absolute;
  z-index: 10;
  top: 638px;
  left: 90px;
  font-family: "vt323";
  font-size: 25px;
  color: silver;
  inline-size: 100px;
}
#weight {
  position: absolute;
  z-index: 10;
  top: 638px;
  left: 265px;
  font-family: "vt323";
  font-size: 25px;
  color: silver;
  inline-size: 100px;
}
form {
  position: absolute;
  top: -240px;
}
#buttons {
  position: absolute;
  top: -240px;
  z-index: 30;
}
#up {
  position: absolute;
  z-index: 10;
  top: 794px;
  left: -113px;
  padding: 18px;
  background: #161616;
  border-bottom: none;
  cursor: pointer;
}
#right {
  position: absolute;
  z-index: 10;
  top: 830px;
  left: -73px;
  padding: 17px;
  background: #161616;
  border-left: none;
  cursor: pointer;
}
#down {
  position: absolute;
  z-index: 10;
  top: 866px;
  left: -113px;
  padding: 18px;
  background: #161616;
  border-top: none;
  cursor: pointer;
}
#left {
  position: absolute;
  z-index: 10;
  top: 830px;
  left: -148px;
  padding: 17px;
  background: #161616;
  border-right: none;
  cursor: pointer;
}
