@font-face {
  font-family: PokeFontS;
  src: url("/pokemonfont/PokemonSolid.ttf");
}

html {
  background: url(https://browsecat.net/sites/default/files/pokemon-grass-background-128740-205985-9449412.png)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main-title {
  text-align: center;
  font-family: PokeFonts, sans-serif;
  color: #fccf00;
  font-size: 80px;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #2468b1;
  letter-spacing: 5px;
}
body {
  position: absolute;
}

main {
  position: absolute;
  z-index: 10;
}

#pokedex {
  position: absolute;
  z-index: 1;
  zoom: 50%;
}
#name {
  position: absolute;
  z-index: 10;
  top: 300px;
  left: 250px;
  font-family: "vt323";
  text-transform: capitalize;
  font-size: 20px;
  text-align: center;
  color: lightgray;
  opacity: 95%;
}
#sprite {
  position: absolute;
  z-index: 10;
  top: 260px;
  left: 238px;
  zoom: 130%;
  opacity: 95%;
}
#idNum {
  position: absolute;
  z-index: 10;
  top: 436px;
  left: 250px;
  font-family: "vt323";
  font-size: 18px;
  color: lightgray;
  opacity: 95%;
}
#description {
  position: absolute;
  z-index: 10;
  top: 272px;
  left: 667px;
  font-family: "vt323";
  font-size: 19px;
  color: lightgray;
  inline-size: 300px;
  opacity: 95%;
}
#submit {
  position: absolute;
  z-index: 10;
  top: 799px;
  left: 204px;
  cursor: pointer;
  background: none;
  border-color: #fccf00;
  border-radius: 100%;
  padding: 22px;
}
#elemType {
  text-transform: capitalize;
  position: absolute;
  z-index: 10;
  top: 525px;
  left: 695px;
  font-family: "vt323";
  font-size: 20px;
}
#text-box {
  position: absolute;
  background: none !important;
  border: none !important;
  outline: none !important;
  z-index: 10;
  top: 900px;
  left: 250px;
  font-size: 30px;
  color: lightgreen;
  text-align: center;
  width: 176px;
  font-family: "vt323";
}
::placeholder {
  color: lightgreen;
}
#height {
  position: absolute;
  z-index: 10;
  top: 638px;
  left: 685px;
  font-family: "vt323";
  font-size: 25px;
  color: lightgray;
  inline-size: 100px;
  opacity: 95%;
}
#weight {
  position: absolute;
  z-index: 10;
  top: 638px;
  left: 862px;
  font-family: "vt323";
  font-size: 25px;
  color: lightgray;
  inline-size: 100px;
  opacity: 95%;
}
form {
  position: relative;
  top: -240px;
}
#up {
  position: absolute;
  z-index: 10;
  top: 795px;
  left: 486px;
  padding: 18px;
  background: #181818;
  border-bottom: none;
}
#right {
  position: absolute;
  z-index: 10;
  top: 830px;
  left: 525px;
  padding: 17px;
  background: #181818;
  border-left: none;
}
#down {
  position: absolute;
  z-index: 10;
  top: 868px;
  left: 486px;
  padding: 18px;
  background: #181818;
  border-top: none;
}
#left {
  position: absolute;
  z-index: 10;
  top: 830px;
  left: 452px;
  padding: 17px;
  background: #181818;
  border-right: none;
}